<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start"> <ion-back-button defaultHref=""></ion-back-button> </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
          <ion-card-subtitle color="danger">About the Author </ion-card-subtitle>
          <ion-img src="assets/images/SelfCartoon.jpg"></ion-img>
          
        </ion-card-header>
      
        <ion-card-content>
          IT Pro with more than 20 years of experience on IT infrastructure related matters.
          More then 10 years of IT Infrastructure and Solution Architecture experience.
          Recently start trying Ionic, and this is a first step into develeopment.
        </ion-card-content>
      </ion-card>
      
</ion-content>
